<div>
    <h2>UUID</h2>
    {{ selector.uuid$ | async | json }}
</div>
<hr />

<div>
    <h2>UUID Rel</h2>
    {{ selector.uuidRel$ | async | json }}
</div>
<hr />

<div>
    <h2>Store</h2>
    {{ selector.store$ | async | json }}
</div>
<hr />

<div>Hero loading: {{ heroService.loading$ | async | json }}</div>
<div *ngFor="let item of heroService.entities$ | async">Hero: {{ item.heroName }}</div>
<div>Heroes: {{ selector.heroesWithVillain$ | async | json }}</div>
<div>Heroes: {{ selector.heroesWithVillainShort$ | async | json }}</div>
<div>Hero from list: {{ selector.heroesWithVillainShortId$ | async | json }}</div>
<div>Hero from id: {{ selector.heroWithVillainId$ | async | json }}</div>

<div>Villain loading: {{ villainService.loading$ | async | json }}</div>
<div *ngFor="let item of villainService.entities$ | async">Villain: {{ item.villainName }}</div>
<div>Villains: {{ selector.villainsWithHeroes$ | async | json }}</div>
<div>Villains: {{ selector.villainsWithHeroesShort$ | async | json }}</div>
