<ng-container *ngIf="data$ | async as data">
  <div>
    <h2>User</h2>
    <div>user1: {{ data.user1 | json }}</div>
    <div>user2: {{ data.user2 | json }}</div>
    <div>userIds: {{ data.userIds | json }}</div>
    <div>userEntities: {{ data.userEntities | json }}</div>
    <div>userAll: {{ data.userAll | json }}</div>
    <div>userTotal: {{ data.userTotal | json }}</div>
  </div>
  <div>
    <h2>Company</h2>
    <div>company3: {{ data.company3 | json }}</div>
    <div>company4: {{ data.company4 | json }}</div>
    <div>companyIds: {{ data.companyIds | json }}</div>
    <div>companyEntities: {{ data.companyEntities | json }}</div>
    <div>companyAll: {{ data.companyAll | json }}</div>
    <div>companyTotal: {{ data.companyTotal | json }}</div>
  </div>
  <div>
    <h2>Address</h2>
    <div>address5: {{ data.address5 | json }}</div>
    <div>address6: {{ data.address6 | json }}</div>
    <div>addressIds: {{ data.addressIds | json }}</div>
    <div>addressEntities: {{ data.addressEntities | json }}</div>
    <div>addressAll: {{ data.addressAll | json }}</div>
    <div>addressTotal: {{ data.addressTotal | json }}</div>
  </div>
</ng-container>
