<h2>Actions</h2>
<button (click)="entitiesService.changeHero('hero1')" role="hero1">Change hero1</button>
<button (click)="entitiesService.changeHero('hero2')" role="hero2">Change hero2</button>
<button (click)="entitiesService.changeVillain('villain3')" role="villain3">Change villain3</button>
<button (click)="entitiesService.changeVillain('villain4')" role="villain4">Change villain4</button>

<h2>Fights</h2>
<strong>selector</strong>
<pre>
public readonly fights$ = this.fight.selectors$.entities$.pipe(
    relationships(
        this.store,
        rootEntities(
            rootEntity(
                this.fight,
                relatedEntity(this.hero, 'heroId', 'hero'),
                relatedEntity(this.villain, 'villainId', 'villain'),
            ),
        ),
    ),
);
</pre>
<strong>usage</strong>
<pre>
selector.fights$ | async | json
</pre>
<pre role="fights">{{ selector.fights$ | async | json }}</pre>

<h2>Heroes</h2>
<pre>
public readonly heroes$ = this.hero.selectors$.entities$.pipe(
    relationships(
        this.store,
        rootEntities(
            rootEntity(
                this.hero,
                childrenEntities(
                    this.fight, 'heroId', 'fights',
                    relatedEntity(this.villain, 'villainId', 'villain'),
                ),
            ),
        ),
    ),
);
</pre>
<strong>usage</strong>
<pre>
selector.heroes$ | async | json
</pre>
<pre role="heroes">{{ selector.heroes$ | async | json }}</pre>

<h2>Villains</h2>
<pre>
public readonly villains$ = this.villain.selectors$.entities$.pipe(
    relationships(
        this.store,
        rootEntities(
            rootEntity(
                this.villain,
                childrenEntities(
                    this.fight, 'villainId', 'fights',
                    relatedEntity(this.hero, 'heroId', 'hero'),
                ),
            ),
        ),
    ),
);
</pre>
<strong>usage</strong>
<pre>
selector.villains$ | async | json
</pre>
<pre role="villains">{{ selector.villains$ | async | json }}</pre>
